// -------------------------------------------------------------------
// :: STYLEGUIDE ATTENTION BOX
// -------------------------------------------------------------------
.styleguide__attention-box {
	margin-top: 2em;
	padding: 18px;
	background-color: $brand-bg-inverted;
	color: $brand-text-inverted;
}
