// -------------------------------------------------------------------
// :: STYLEGUIDE INLINE LOGOS
// -------------------------------------------------------------------
.styleguide__logo {
	margin-right: 1.5rem;
}

.styleguide__social-icon {
	margin-bottom: 1rem;
	display: block;
}

[src*='tile.jpg'] {
	max-width: 50%;
}
