// -------------------------------------------------------------------
// :: STYLEGUIDE VISUAL COLORS
// -------------------------------------------------------------------
.styleguide__colors li {
	min-width: 18%;
	padding-top: 18%;
	margin: 1% 0.5%;
	box-shadow: 1px 1px 2em $brand-shadow;
	border: 1px solid $brand-border;
	border-radius: 4px 4px 0 0;
}

.styleguide__colors small {
	width: 100%;
	font-size: 0.9em;
	padding: 0.5em 0.9em;
	background: $white;
	display: block;
}
