// -------------------------------------------------------------------
// :: STYLEGUIDE VISUAL Fonts
// -------------------------------------------------------------------
.styleguide__fonts {
  margin: 1% 0.5%;
  box-shadow: 1px 1px 2em $brand-shadow;
  border: 1px solid $brand-border;
  border-radius: 4px 4px 0 0;
  padding: 45px;
}

.styleguide__fonts small {
  color: #2F3742;
  display: block;
  opacity: 0.5;
  margin-bottom: 25px;
}
