{# ============================================================ #}
{# :: IMPORTS #}
{# ============================================================ #}
{% from "styleguides/general/organisms/header.njk" import header as header %}
{% from "styleguides/general/organisms/footer.njk" import footer as footer %}

{# ============================================================ #}
{# :: START BODY #}
{# ============================================================ #}
{% include "styleguides/general/pages/_includes/_html_head.njk" %}

{# ============================================================ #}
{# :: HEADER #}
{# ============================================================ #}
{{ header() }}

{# ============================================================ #}
{# :: CONTENT #}
{# ============================================================ #}

<main id="main">
	{% block content %}

	{% endblock %}
</main>

{# ============================================================ #}
{# :: FOOTER #}
{# ============================================================ #}
{{ footer() }}

{# ============================================================ #}
{# :: END BODY #}
{# ============================================================ #}
{% include "styleguides/general/pages/_includes/_html_footer.njk" %}
