{% set htmlParameters = {
		'isStyleguide' : true,
		'bodyClass': '',
		'rootPath' : '/',
		'pageName' : 'styleguide'
	}
%}
{% include "styleguides/general/pages/_includes/_html_head.njk" %}

<div class="js-scroll-nav">
	{#  Introduction #}
	<section class="styleguide">
		<div class="styleguide__container">
			<main>
				<h1 class="styleguide__title js-scroll-nav__title">General Styleguide</h1><br/>
				<h5>version: {{VERSION_INFO.current_version}}</h5>
				<p class="styleguide__p">
					Welcome to the {{PROJECT_TITLE}} styleguide – an internal guide &amp; code repository for designing
					and coding projects for {{PROJECT_TITLE}}. If you're new here, have a look through some of the topics
					on the left.
				</p>
				<br/><br/><hr/><br/><br/>
				<h1>Changelog</h1>
				<div class="styleguide__changelog">
					{% for log in VERSION_INFO.changelog %}
						<h5>{{ log.version }}:&emsp;{{ log.message }}</h5>
					{% endfor %}
				</div>
			</main>
		</div>
	</section>

	{#  Styleguide components #}
	{% asyncEach name in DATA.STYLEGUIDES.GENERAL.NAV %}
		<div class="styleguide__section-title">
			<h1 class="js-scroll-nav__title">{{name.main}}</h1>
			<p>{{name.description}}</p>
		</div>


		<section class="styleguide">
			<div class="styleguide__container">
				<main>
					{#  Specific pages code #}
					{% if name.main == "pages" %}
						<h1 class="styleguide__title js-scroll-nav__sub-title">Templates</h1>
						<p class="styleguide__p">
							We provide a few example page templates to show how all our components work together on a page.
						</p>

						{% for folder, templates in DATA.STYLEGUIDES.GENERAL.PAGES %}
							{% if folder !== '_root' %}
								<h4>{{ folder }}</h4>
							{% endif %}
							<ul>
								{% for template in templates %}
									<li><a href="/styleguides/general/pages/{{ template.path }}{{DATA.EXTENSION}}">{{ template.name }}</a></li>
								{% endfor %}
							</ul>

							<br>
							<br>
						{% endfor %}

					{% endif %}

					{#  Components #}
					{% asyncEach sub in name.sub %}
						{% import sub.path as component %}

						{% if component.styleguide %}
							{{component.styleguide(DATA)}}
						{% endif %}
					{% endeach %}

				</main>
			</div>
		</section>
	{% endeach %}
</div>

{% include "styleguides/general/pages/_includes/_html_footer.njk" %}
