// -------------------------------------------------------------------
// :: LAYOUT
// -------------------------------------------------------------------
// ultra, mega, large, medium, normal, small, tiny, micro (don't go further than -xx)

// -------------------------------------------------------------------
// :: SHADOW
// -------------------------------------------------------------------

// BOX SHADOW
$box-shadow: 0 0 12px $box-shadow-color;

// BOX SHADOW INSET
$box-shadow-inset: inset 1px 0 3px $box-shadow-color;

// -------------------------------------------------------------------
// :: BORDERS
// -------------------------------------------------------------------

$border-width: 1px;
$border-simple: $border-width solid $border-color;

// -------------------------------------------------------------------
// :: BORDER-RADIUS
// -------------------------------------------------------------------

$border-radius-round: 50%;
$border-radius: 5px;
