// -------------------------------------------------------------------
// :: MEDIA QUERIES
// -------------------------------------------------------------------
// Major breakpoints should be set in base/_typography.scss
// Minor breakpoint should be added where needed (inline)

$screen-xs: 30rem; // 480px
$screen-sm: 45rem; // 720px
$screen-md: 60rem; // 960px
$screen-lg: 75rem; // 1200px
