{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h1 class="styleguide__title">User Feedback</h1>


	<h4 class="styleguide__sub-title">General principle</h4>
	<p class="styleguide__p">
		Always provide feedback on user interaction. This can be immediate
		(eg. inline validation) or after the action (eg. submit a form).
		Feedback messages are informative and provide an easy escape or
		alternative/following action. The tone of voice should be human
		and add personality to the experience/brand.
	</p>
{% endmacro %}
