{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro alertFeedback(message) %}
	<div class="a-alert" role="alert" aria-live="assertive">
		<p class="icon-alert">
			This is a <a href="#" title="">{{ message }}</a>.
		</p>
	</div>
{% endmacro %}

{% macro errorFeedback(message) %}
	<div class="a-alert is-error">
		<p class="icon-alert">
			{{ message }}
		</p>
	</div>
{% endmacro %}

{% macro warningFeedback(message) %}
	<div class="a-alert is-warning">
		<p class="icon-alert">
			{{ message }}
		</p>
	</div>
{% endmacro %}

{% macro successFeedback(message) %}
	<div class="a-alert is-success">
		<p class="icon-checkmark">
			{{ message }}.
		</p>
	</div>
{% endmacro %}

{% macro infoFeedback(message) %}
	<div class="a-alert is-information">
		<p class="icon-alert">
			{{ message }}
		</p>
	</div>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h4 class="styleguide__sub-title js-scroll-nav__sub-title">Alerts</h4>
	<p class="styleguide__p">
		An alert component to provide feedback messages to the user.
	</p>


    {% set alertFeedback = alertFeedback('This is a feedback message.') %}
    {{ alertFeedback }}
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<pre>
			<code class="html">
				{{ alertFeedback | forceescape | nl2br}}
			</code>
		</pre>
	</div>
	<p class="styleguide__p"></p>

    {% set errorFeedback = errorFeedback('This is a feedback message.') %}
    {{ errorFeedback }}
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<pre>
			<code class="html">
				{{ errorFeedback | forceescape | nl2br}}
			</code>
		</pre>
	</div>
	<p class="styleguide__p"></p>

    {% set warningFeedback = warningFeedback('This is a feedback message.') %}
    {{ warningFeedback }}
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<pre>
			<code class="html">
				{{ warningFeedback | forceescape | nl2br}}
			</code>
		</pre>
	</div>
	<p class="styleguide__p"></p>

    {% set successFeedback = successFeedback('This is a feedback message.') %}
    {{ successFeedback }}
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<pre>
			<code class="html">
				{{ successFeedback | forceescape | nl2br}}
			</code>
		</pre>
	</div>
	<p class="styleguide__p"></p>

    {% set infoFeedback = infoFeedback('This is a feedback message.') %}
    {{ infoFeedback }}
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<pre>
			<code class="html">
				{{ infoFeedback | forceescape | nl2br}}
			</code>
		</pre>
	</div>
	<p class="styleguide__p"></p>



{% endmacro %}
