{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro code() %}
	<small class="a-tooltip a-tooltip--up styleguide__tooltip">Tooltip with <a href="#" title="">hyperlink</a></small>
	<small class="a-tooltip a-tooltip--up is-error styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--up is-warning styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--up is-success styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--up is-information styleguide__tooltip">Tooltip</small>

	<br />

	<small class="a-tooltip a-tooltip--right styleguide__tooltip">Tooltip with <a href="#" title="">hyperlink</a></small>
	<small class="a-tooltip a-tooltip--right is-error styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--right is-warning styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--right is-success styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--right is-information styleguide__tooltip">Tooltip</small>

	<br />

	<small class="a-tooltip a-tooltip--down styleguide__tooltip">Tooltip with <a href="#" title="">hyperlink</a></small>
	<small class="a-tooltip a-tooltip--down is-error styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--down is-warning styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--down is-success styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--down is-information styleguide__tooltip">Tooltip</small>

	<br />

	<small class="a-tooltip a-tooltip--left styleguide__tooltip">Tooltip with <a href="#" title="">hyperlink</a></small>
	<small class="a-tooltip a-tooltip--left is-error styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--left is-warning styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--left is-success styleguide__tooltip">Tooltip</small>
	<small class="a-tooltip a-tooltip--left is-information styleguide__tooltip">Tooltip</small>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h4 class="styleguide__sub-title js-scroll-nav__sub-title">Tooltips</h4>
	<small>/sass/atoms/tooltips.scss</small>

	<p class="styleguide__p">
		Use tooltips to display inline information or validation feedback.
		Just like default alerts, different styling can be applied (error,
		warning, success and information). Although tooltips will work with
		any typographic style, the use of &lt;small&gt; is adviced.
	</p>

	{{code()}}

	<div class="styleguide__highlight-box">
		<code class="js-encode-html prettyprint">
			{{code()}}
		</code>
	</div>
{% endmacro %}
