{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h1 id="buttons" class="styleguide__title js-scroll-nav__sub-title">Buttons</h1>
	<small>/sass/atoms/_buttons.scss</small>
{% endmacro %}
