{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h1 id="buttons" class="styleguide__title js-scroll-nav__sub-title">Buttons</h1>
	<small>/sass/atoms/_buttons.scss</small>


	<h4 class="styleguide__sub-title">Implementation</h4>
	<p class="styleguide__p">
		Use &lt;a&gt; for navigation, &lt;button&gt; for everything else.
		Submit/reset buttons are the only exceptions, using &lt;input[type="submit"]&gt;
		to trigger default browser behaviour associated with submitting form input.
		Buttons should follow a typographic scale, based on importance and base font-size.
	</p>
{% endmacro %}
