{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}

{% macro buttonLink(text, href) %}
	<a href="{{ href }}" class="a-button" title="{{ text }}">{{ text }}</a>
{% endmacro %}

{% macro button(text) %}
	<button class="a-button" title="{{ text }}">{{ text }}</button>
{% endmacro %}

{% macro buttonSubmit(text) %}
	<input type="submit" class="a-button" value="{{ text }}">
{% endmacro %}


{% macro buttonLinkDisabled(text) %}
	<a class="a-button" disabled title="{{ text }}">{{ text }}</a>
{% endmacro %}

{% macro buttonDisabled(text) %}
	<button class="a-button" disabled title="{{ text }}">{{ text }}</button>
{% endmacro %}

{% macro buttonSubmitDisabled(text) %}
	<input type="submit" class="a-button" disabled value="{{ text }}">
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}

	<h4 class="styleguide__sub-title">Primary button</h4>
	<p class="styleguide__p">
		Use &lt;a&gt; for navigation, &lt;button&gt; for everything else.
		Submit/reset buttons are the only exceptions, using &lt;input [type="submit"]&gt;
		to trigger default browser behaviour associated with submitting form input.
	</p>

	{% set button = button(DATA.CONFIG.TEXT_DUMMY_XSMALL) %}
	{{ button }}

    {% set buttonLink = buttonLink(DATA.CONFIG.TEXT_DUMMY_XSMALL, '#') %}
    {{ buttonLink }}

    {% set buttonSubmit = buttonSubmit(DATA.CONFIG.TEXT_DUMMY_XSMALL) %}
    {{ buttonSubmit }}

    {% set buttonDisabled = buttonDisabled(DATA.CONFIG.TEXT_DUMMY_XSMALL) %}
    {{ buttonDisabled }}

    {% set buttonLinkDisabled = buttonLinkDisabled(DATA.CONFIG.TEXT_DUMMY_XSMALL) %}
    {{ buttonLinkDisabled }}

    {% set buttonSubmitDisabled = buttonSubmitDisabled(DATA.CONFIG.TEXT_DUMMY_XSMALL) %}
    {{ buttonSubmitDisabled }}


	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<pre>
			<code class="html">
				{{ button | forceescape | nl2br }}
                {{ buttonLink | forceescape | nl2br }}
                {{ buttonSubmit | forceescape | nl2br }}
                {{ buttonDisabled | forceescape | nl2br }}
                {{ buttonLinkDisabled | forceescape | nl2br }}
                {{ buttonSubmitDisabled | forceescape | nl2br }}
			</code>
		</pre>
	</div>

{% endmacro %}
