{% set htmlParameters = {
		"isStyleguide": false,
		"bodyClass": "",
		"rootPath": "../",
		"pageName": "Example Page"
	}
%}

{# ============================================================ #}
{# :: INHERITANCE #}
{# ============================================================ #}
{% extends "styleguides/general/pages/_includes/_layout.njk" %}

{# ============================================================ #}
{# :: IMPORTS #}
{# ============================================================ #}

{# ============================================================ #}
{# :: DATA #}
{# ============================================================ #}

{# ============================================================ #}
{# :: PAGE #}
{# ============================================================ #}

{% block content %}

	{# PLACE YOUR CONTENT HERE #}
	<p>THIS IS THE CONTENT OF THE PAGE</p>

{% endblock %}
