{% set htmlParameters = {
		'isStyleguide' : true,
		'bodyClass': '',
		'rootPath' : '../',
		'pageName' : 'Index'
	}
%}

{% include "styleguides/general/pages/_includes/_html_head.njk" %}

<div class="styleguide__section-title"><h1 class="styleguide__section-title--header">Styleguide</h1></div>
<main>
	<section>
		<div class="styleguide__index-container">
			<article>
				<h2>{{CONFIG.PROJECT_TITLE}} Styleguide:  v{{VERSION_INFO.current_version}}</h2>
				<p>
					Atomic design styleguide with live coding samples
				</p>
				<hr/>
				<h3> General styleguide</h3>
				<p>
					<a class="a-button" href="/styleguides/general/">go to styleguide</a>
				</p>
			</article>
		</div>
	</section>
</main>

{% include "styleguides/general/pages/_includes/_html_footer.njk" %}
