// -------------------------------------------------------------------
// :: SANDBOX IFRAME
// -------------------------------------------------------------------
.sandbox-iframe__wrapper {
	display: flex;
	justify-content: center;

	iframe {
		box-shadow: 0 0 34px 0 $brand-shadow;
		border: 1px solid $brand-border;
		resize: both;
	}
}
