// -------------------------------------------------------------------
// :: SANDBOX NAVIGATION
// -------------------------------------------------------------------
.sandbox-navigation {
	border-right: 1px solid $brand-sandbox-nav-border;

	position: relative;

	&:hover {
		cursor: pointer;
	}

	a {
		color: $brand-sandbox-header-text;
		text-decoration: none;
	}
}

// -------------------------------------------------------------------
// :: SANDBOX NAVIGATION - PLACEHOLDER
// -------------------------------------------------------------------
.sandbox-navigation__placeholder {
	color: $brand-sandbox-header-text;
	display: block;
	padding: 17px;

	span {
		color: $brand-sandbox-header-text;
	}
}

// -------------------------------------------------------------------
// :: SANDBOX NAVIGATION - HEADER
// -------------------------------------------------------------------
.sandbox-navigation__header {
	background-color: $brand-sandbox-nav-header-bg;
	color: $brand-sandbox-header-text;
	display: block;
	padding: 17px 35px;
	width: 100%;
}

// -------------------------------------------------------------------
// :: SANDBOX NAVIGATION - WRAPPER
// -------------------------------------------------------------------
.sandbox-navigation__main__wrapper {
	padding: 17px 35px;
}

// -------------------------------------------------------------------
// :: SANDBOX NAVIGATION - LIST
// -------------------------------------------------------------------
.sandbox-navigation__list {
	display: none;
	background-color: $brand-sandbox-nav-list-bg;
	margin: 0;
	padding: 0;
	position: absolute;
	list-style: none;
	top: 0;
	width: 100%;

	&__wrapper {
		padding: 10px;
	}

	li {
		a {
			display: block;
		}

		&:last-child {
			.sandbox-navigation__mainItem {
				border: none;
			}
		}
	}
}

// -------------------------------------------------------------------
// :: SANDBOX NAVIGATION - ITEMS
// -------------------------------------------------------------------
.sandbox-navigation__mainItem,
.sandbox-navigation__subItem {
	border-bottom: 1px solid $brand-sandbox-nav-header-bg;
	display: block;
	padding: 10px 0;
}

// .sandbox-navigation__mainItem--active,
// .sandbox-navigation__subItem--active {
// }

// -------------------------------------------------------------------
// :: SANDBOX NAVIGATION - SUB
// -------------------------------------------------------------------
.sandbox-navigation__sub {
	display: none;
	padding: 0;
	list-style: none;

	li {
		&:last-child {
			border: none;
		}
	}
}
