// -------------------------------------------------------------------
// :: SANDBOX RESPONSIVE
// -------------------------------------------------------------------
.sandbox-responsive {
	border-left: 1px solid $brand-sandbox-nav-border;
	padding: 17px;

	select {
		background: none;
		border: none;
		color: $brand-sandbox-header-text;
	}
}
