{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide(DATA) %}
	<h1 class="styleguide__title js-scroll-nav__sub-title">Typography</h1>
	<small>/sass/base/_quarks/_typography.scss</small>

	<h4 class="styleguide__sub-title">Font stack</h4>
	<p class="styleguide__p">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur dignissim tristique lorem, quis pharetra tellus euismod eu.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur dignissim tristique lorem, quis pharetra tellus euismod eu.
	</p>
	<div>
		<ul>
            {% for font  in DATA.FONT_FAMILY %}
				<li><a href="/fonts/{{ font }}.zip" download>{{ font }}</a></li>
            {% endfor %}
		</ul>
	</div>

	<h4 class="styleguide__sub-title">Headings</h4>
	<p class="styleguide__p">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur dignissim tristique lorem, quis pharetra tellus euismod eu.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur dignissim tristique lorem, quis pharetra tellus euismod eu.
	</p>

	<small class="styleguide__info">Heading 1 - &lt;h1&gt; </small>

	{% macro h1(text) %}
		<h1>{{ text }}</h1>
    {% endmacro %}
    {% set h1 = h1(DATA.CONFIG.TYPO_HEADING) %}
	<div class="styleguide__fonts">
    	{{ h1 }}
	</div>

	<small class="styleguide__info">Heading 2 - &lt;h2&gt;</small>

	{% macro h2(text) %}
		<h2>{{ text }}</h2>
    {% endmacro %}
    {% set h2 = h2(DATA.CONFIG.TYPO_HEADING) %}
	<div class="styleguide__fonts">
        {{ h2 }}
	</div>

	<small class="styleguide__info">Heading 3 - &lt;h3&gt;</small>

	{% macro h3(text) %}
		<h3>{{ text }}</h3>
    {% endmacro %}
    {% set h3 = h3(DATA.CONFIG.TYPO_HEADING) %}
	<div class="styleguide__fonts">
        {{ h3 }}
	</div>


	<small class="styleguide__info">Heading 4 - &lt;h4&gt;</small>

    {% macro h4(text) %}
		<h4>{{ text }}</h4>
    {% endmacro %}
    {% set h4 = h4(DATA.CONFIG.TYPO_HEADING) %}
	<div class="styleguide__fonts">
        {{ h4 }}
	</div>


	<small class="styleguide__info">Heading 5 - &lt;h5&gt;</small>
    {% macro h5(text) %}
		<h5>{{ text }}</h5>
    {% endmacro %}
    {% set h5 = h5(DATA.CONFIG.TYPO_HEADING) %}
	<div class="styleguide__fonts">
        {{ h5 }}
	</div>

	<small class="styleguide__info">Heading 6 - &lt;h6&gt;</small>
    {% macro h6(text) %}
		<h6>{{ text }}</h6>
    {% endmacro %}
    {% set h6 = h6(DATA.CONFIG.TYPO_HEADING) %}
	<div class="styleguide__fonts">
        {{ h6 }}
	</div>

	<h4 class="styleguide__sub-title">HTML Elements</h4>
	<p class="styleguide__p">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur dignissim tristique lorem, quis pharetra tellus euismod eu.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur dignissim tristique lorem, quis pharetra tellus euismod eu.
	</p>

	<small class="styleguide__info">Paragraph - &lt;p&gt;</small>
    {% macro p(text) %}
		<p>{{ text }}</p>
    {% endmacro %}
    {% set p = p(DATA.CONFIG.TYPO_PARAGRAPH)%}
	<div class="styleguide__fonts">
        {{ p }}
	</div>

	<small class="styleguide__info">Small text - &lt;small&gt;</small>
    {% macro small(text) %}
		<small>{{ text }}</small>
    {% endmacro %}
    {% set small = small(DATA.CONFIG.TYPO_PARAGRAPH) %}
	<div class="styleguide__fonts">
        {{ small }}
	</div>

	<small class="styleguide__info">Blockquote - &lt;blockquote&gt; <br /> Author/source - &lt;cite&gt;</small>
    {% macro blockQuote(text, author) %}
		<blockquote>
			{{ text }}
			<cite>{{ author }}</cite>
		</blockquote>
	{% endmacro %}
    {% set blockQuote = blockQuote('Great design will not sell an inferior product, but it will enable great products to achieve their maximum potential.', 'Thomas J. Watson Jr.') %}
	<div class="styleguide__fonts">
        {{ blockQuote }}
	</div>

	<small class="styleguide__info">Hyperlinks - &lt;a href=""&gt;, &lt;span class="is-hyperlink"&gt;</small>
    {% macro a(text, href) %}
		<a href="{{ href }}" title="{{ text }}">{{ text }}</a>
    {% endmacro %}

    {% set a = a('This is a hyperlink', '#') %}

	<div class="styleguide__fonts">
        {{ a }}
	</div>


	<small class="styleguide__info">Strong - &lt;strong&gt;</small>
    {% macro strong(text) %}
		<strong>{{ text }}</strong>
	{% endmacro %}

    {% set strong = strong('This text is strong') %}
	<div class="styleguide__fonts">
        {{ strong }}
	</div>

	<small class="styleguide__info">Emphasized - &lt;em&gt;</small>
    {% macro em(text) %}
		<em>{{ text }}</em>
    {% endmacro %}

    {% set em = em('This text is emphasized') %}
	<div class="styleguide__fonts">
        {{ em }}
	</div>

	<small class="styleguide__info">Quote - &lt;q&gt;</small>
    {% macro quote(text) %}
		<q>{{ text }}</q>
    {% endmacro %}

    {% set quote = quote('This text is quoted') %}
	<div class="styleguide__fonts">
        {{ quote }}
	</div>


	<small class="styleguide__info">Highlighted - &lt;mark&gt;</small>
    {% macro mark(text) %}
		<mark>{{ text }}</mark>
    {% endmacro %}

    {% set mark = mark('This text is highlighted') %}
	<div class="styleguide__fonts">
        {{ mark }}
	</div>

	<small class="styleguide__info">Obsolete/deleted/updated - &lt;del&gt;</small>
    {% macro del(text) %}
		<del>{{ text }}</del>
    {% endmacro %}

    {% set del = del('This text is obsolete/deleted/updated') %}
	<div class="styleguide__fonts">
        {{ del }}
	</div>
{% endmacro %}
