
<section class="sandbox-header">
	<section class="sandbox-navigation">
		<a class="sandbox-navigation__placeholder js-sandbox-placeholder">{{requestedComponent.name}} <span>- {{requestedComponent.path}}</span></a>
		<ul class="sandbox-navigation__list">
			<a href="" class="sandbox-navigation__header js-sandbox-header">
				sandbox
			</a>
			<div class="sandbox-navigation__main__wrapper">
				{% for name  in NAV %}

					<li class="sandbox-navigation__main ">
						<a href="" class="sandbox-navigation__mainItem js-sandbox-main {% if requestedComponent.main == name.main %}sandbox-navigation__mainItem--active{% endif %}">
							{{name.main}}
						</a>
						<ul class="sandbox-navigation__sub">
							{%for sub in name.sub %}
								{%if sub.name != '_index' %}
									<li class="sandbox-navigation__subItem {% if requestedComponent.componentPath == sub.componentPath %}sandbox-navigation__subItem--active js-sandbox-active-component{% endif %}" data-url="{{sub.componentPath}}">
										<a href="/sandbox/{{sub.componentPath}}">
											{{sub.name}}
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</div>
		</ul>
	</section>

	<section class="sandbox-responsive">
		<label>breakpoint:</label>
		<select class="js-sandbox-screenSize">
			{% for name, content  in GLOBALS_MEDIA %}
				<option value="{{content.value}}">${{ name }}</option>
			{% endfor %}
		</select>
	</section>
</section>
