// -------------------------------------------------------------------
// :: FIELDSET
// -------------------------------------------------------------------

fieldset{
	border: none;
	border-bottom: $border-simple;
	padding: 2em;

	&:last-child{
		border-bottom: none;
	}
}
