// -------------------------------------------------------------------
// :: SELECT
// -------------------------------------------------------------------

select{
	padding-right: 2rem;
}
// Add pointer cursor for selects
// Provide styling when no
// value has been selected

select.has-no-value {
	color: $font-color-medium;
	font-style: italic;
	font-weight: 100;
}

select[disabled].has-no-value {
	color: $font-color-medium;
}

.a-select select + .a-select__down {
	color: $font-color-medium;
	margin: 0.35rem 0.9rem;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 3px;
}

.a-select {
	.a-select_icon {
		width: 1em;
		height: 100%;
		position: absolute;
		top: 0;
		right: 1em;
	}

	.a-select__down {
		display: block;
		border-bottom: 2px solid $border-color;
		border-right: 2px solid $border-color;
		width: 0.6em;
		height: 0.7em;
		top: calc(50% - 0.1em);
		left: 50%;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		position: absolute;
	}
}

.a-select select:focus ~ .a-select_icon .a-select__down {
	border-color: $border-color-active;
}
