// -------------------------------------------------------------------
// :: SELECT
// -------------------------------------------------------------------

select{
	padding-right: 2rem;
}
// Add pointer cursor for selects
// Provide styling when no
// value has been selected

select.has-no-value {
	color: $font-color-medium;
	font-style: italic;
	font-weight: 100;
}

select[disabled].has-no-value {
	color: $font-color-medium;
}

.input select + [class*='icon'] {
	color: $font-color-medium;
	margin: 0.35rem 0.9rem;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 3px;
}

.input select + [class*='icon']:before {
	font-size: 1.65em;
	line-height: 0;
}

.input select.has-no-value + [class*='icon'] {
	color: $font-color-medium;
}
