{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro code() %}
	<section>
		<div>
			<article>
				<h1>{{ PROJECT_TITLE }} Templates {{ VERSION }}</h1>
				<h4 class="pink">Overview of the components</h4>

				<p>Templates:</p>
				<ul>
					<li><a href="#">Example</a></li>
				</ul>
				<p>Pages:</p>
				<ul>
					<li><a href="#">page</a></li>
				</ul>
				<p>
					<a class="button" href="styleguide.html">Styleguide</a>
				</p>
			</article>
		</div>
	</section>
	{% endmacro %}

	{% macro styleguide() %}

	{% endmacro %}
