{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro code() %}
	<div class="a-input">
		<label for="input-text">Text input</label>
		<div class="a-input__field-holder">
			<input type="text" name="input-text" id="input-text" placeholder="Placeholder" />
		</div>
		<small>Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
	</div>

	<div class="a-input">
		<label for="input-email">Email</label>
		<div class="a-input__field-holder">
			<input type="email" name="input-email" id="input-email" placeholder="your-email@domain.com" />
		</div>
		<small>Don't worry, we won't spam you. Read our <a href="#" title="">privacy policy</a>.</small>
	</div>

	<div class="a-input">
		<label for="input-password">Password</label>
		<div class="a-input__field-holder">
			<input type="password" name="input-password" id="input-password" placeholder="Your password" />
		</div>
		<small>Passwords should be 6 characters or more. Be tricky!</small>
	</div>

	<div class="a-input">
		<label for="input-number">Amount</label>
		<div class="a-input__field-holder">
			<input type="number" name="input-number" id="input-number" placeholder="3" min="0" step="0.5" max="20" />
		</div>
		<small>Not what you expected? Please contact our <a href="#" title="">customer support</a>.</small>
	</div>

	<div class="a-input">
		<label for="input-telephone">Phone number</label>
		<div class="a-input__field-holder">
			<input type="tel" name="input-telephone" id="input-telephone" placeholder="+32 &times;&times;&times; &times;&times; &times;&times; &times;&times;" />
		</div>
		<small>Don't worry, we only contact you when it's absolutely necessary.</small>
	</div>

	<div class="a-input">
		<label for="input-url">Website</label>
		<div class="a-input__field-holder">
			<input type="url" name="input-url" id="input-url" placeholder="http://" />
		</div>
		<small>Tell us a little bit more about yourself.</small>
	</div>

	<div class="a-input">
		<label for="input-search">Search</label>
		<div class="a-input__field-holder">
			<input type="search" name="input-search" id="input-search" placeholder="Type to search" />
		</div>
		<small>Can't find what you're looking for? Try our <a href="#" title="">frequently asked questions</a></small>
	</div>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h4 class="styleguide__sub-title js-scroll-nav__sub-title">Default inputs</h4>
	<small>/sass/atoms/form-elements/general.scss</small>
	<br/><br/>

	{{code()}}

	<div class="styleguide__highlight-box">
		<code class="js-encode-html prettyprint">
			<div class="a-input">
				<label for="input-text">Text input</label>
				<div class="a-input__field-holder">
					<input type="text" placeholder="Placeholder" />
				</div>
				<small>Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
			</div>
		</code>
	</div>
{% endmacro %}
