{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro selectField(label, placeholder, description) %}
	<div class="a-input">
		<label for="input-select">{{ label }}</label>
		<div class="a-input__field-holder">
			<select name="input-selected" id="input-select">
				<option value="" disabled selected>{{ placeholder }}</option>
				<option value="1">Option 1</option>
				<option value="2">Option 2</option>
				<option value="3">Option 3</option>
				<option value="4" disabled>Option 4 disabled</option>
				<option value="5">Option 5</option>
			</select>
			<span class="icon-arrow-down"></span>
		</div>
		<small>{{ description }}</small>
	</div>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h4 class="styleguide__sub-title js-scroll-nav__sub-title">Select</h4>
	<p class="styleguide__p">
		Use &lt;a&gt; for navigation, &lt;button&gt; for everything else.
		Submit/reset buttons are the only exceptions, using &lt;input [type="submit"]&gt;
		to trigger default browser behaviour associated with submitting form input.
	</p>

    {% set selectField = selectField('Select', 'Make a wise choice...', 'Hurry up and make a choice!') %}
    {{ selectField }}
	<div class="styleguide__highlight-box">
		<pre>
			<code>
				{{ selectField | forceescape | nl2br}}
			</code>
		</pre>
	</div>
{% endmacro %}
