{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro code() %}
	<div class="a-input">
		<label for="input-select">Default select</label>
		<div class="a-input__field-holder">
			<select name="input-selected" id="input-select">
				<option value="" disabled selected>Make your selection...</option>
				<option value="1">Option 1</option>
				<option value="2">Option 2</option>
				<option value="3">Option 3</option>
				<option value="4" disabled>Option 4 disabled</option>
				<option value="5">Option 5</option>
			</select>
			<span class="icon-arrow-down"></span>
		</div>
		<small>To mimic placeholder styling, add a 'has-no-value' class to the &lt;select&gt;</small>
	</div>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h4 class="styleguide__sub-title js-scroll-nav__sub-title">Select</h4>
	<small>/sass/atoms/form-elements/select.scss</small>
	<br/><br/>

	{{code()}}

	<div class="styleguide__highlight-box">
		<code class="js-encode-html prettyprint">
			{{code()}}
		</code>
	</div>
{% endmacro %}
