{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro code() %}
	<div class="a-toggle a-toggle--switch">
		<label>
			<input type="checkbox" name="input-checkbox" value="3" />
			<span class="toggle__holder">
				<span class="toggle__button">
					<span class="toggle__on icon-check"></span>
					<span class="toggle__off icon-cross"></span>
				</span>
			</span>
			Toggle
		</label>

		<label>
			<input type="checkbox" name="input-checkbox" value="3" checked />
			<span class="toggle__holder">
				<span class="toggle__button">
					<span class="toggle__on icon-check"></span>
					<span class="toggle__off icon-cross"></span>
				</span>
			</span>
			Checked
		</label>

		<label disabled>
			<input type="checkbox" name="input-checkbox" value="3" disabled />
			<span class="toggle__holder">
				<span class="toggle__button">
					<span class="toggle__on icon-check"></span>
					<span class="toggle__off icon-cross"></span>
				</span>
			</span>
			Disabled
		</label>
	</div>
{% endmacro %}
