{# ------------------------#}
{# -------Code block-------#}
{# ------------------------#}
{% macro textareaField(label, placeholder, description) %}
	<div class="a-input">
		<label for="input-textarea">{{ label }}</label>
		<div class="a-input__field-holder">
			<textarea name="input-textarea" id="input-textarea" cols="30" rows="5" placeholder="{{ placeholder }}"></textarea>
		</div>
		<small>{{ description }}</small>
	</div>
{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h4 class="styleguide__sub-title">Textarea</h4>
	<p class="styleguide__p">
		A form element building block for textareas.
	</p>


    {% set textareaField = textareaField('Textarea', 'Type something...', 'Feedback, suggestions, ideas, ... we would love to hear from you!') %}
    {{ textareaField }}
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<pre>
			<code class="html">
				{{ textareaField | forceescape | nl2br}}
			</code>
		</pre>
	</div>
{% endmacro %}
