{# ============================================================ #}
{# :: IMPORTS #}
{# ============================================================ #}

{# ============================================================ #}
{# :: CODE #}
{# ============================================================ #}
{% macro code() %}

<footer>

	<p>THIS IS THE FOOTER OF THE PAGE</p>

</footer>

{% endmacro %}

{# ============================================================ #}
{# :: STYLEGUIDE #}
{# ============================================================ #}
{% macro styleguide() %}
	<h1 class="styleguide__title js-scroll-nav__sub-title">Footer</h1>
	<small>/sass/base/organisms/_footer.scss</small>

  <br />
  <br />
	{{code()}}

	<div class="styleguide__highlight-box">
		<code class="js-encode-html prettyprint">
			{{code()}}
		</code>
	</div>
{% endmacro %}
