{# ============================================================ #}
{# :: IMPORTS #}
{# ============================================================ #}

{# ============================================================ #}
{# :: CODE #}
{# ============================================================ #}
{% macro footer() %}

<footer></footer>

{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h4 class="styleguide__sub-title js-scroll-nav__sub-title">Footer</h4>
	<small>/sass/base/organisms/_footer.scss</small>

    {% set footer = footer() %}
    {{ footer }}
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<pre>
			<code class="html">
				{{ footer | forceescape | nl2br}}
			</code>
		</pre>
	</div>
{% endmacro %}
