{# ============================================================ #}
{# :: IMPORTS #}
{# ============================================================ #}

{# ============================================================ #}
{# :: CODE #}
{# ============================================================ #}
{% macro header() %}

	<header></header>

{% endmacro %}

{# ----------------------------#}
{# ------Styleguide block------#}
{# ----------------------------#}
{% macro styleguide() %}
	<h4 class="styleguide__sub-title js-scroll-nav__sub-title">Header</h4>
	<small>/sass/base/organisms/_header.scss</small>

    {% set header = header() %}
    {{ header }}
	<div class="styleguide__highlight-box">
		<div class="styleguide__highlight-box__header">Code Sample</div>
		<pre>
			<code class="html">
				{{ header | forceescape | nl2br}}
			</code>
		</pre>
	</div>
{% endmacro %}
