{# ============================================================ #}
{# :: IMPORTS #}
{# ============================================================ #}

{# ============================================================ #}
{# :: DATA #}
{# ============================================================ #}

{# ============================================================ #}
{# :: CODE #}
{# ============================================================ #}
{% macro code() %}

<header>

	<h1>THIS IS THE HEADER OF THE PAGE</h1>

</header>

{% endmacro %}

{# ============================================================ #}
{# :: STYLEGUIDE #}
{# ============================================================ #}
{% macro styleguide() %}
	<h1 class="styleguide__title js-scroll-nav__sub-title">Header</h1>
	<small>/sass/base/organisms/_header.scss</small>

  <br />
  <br />
	{{code()}}

	<div class="styleguide__highlight-box">
		<code class="js-encode-html prettyprint">
			{{code()}}
		</code>
	</div>
{% endmacro %}
