// -------------------------------------------------------------------
// :: ICON FONT
// -------------------------------------------------------------------
@include get-font("icons", "../fonts/icons");

%___FLOW-icon {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	vertical-align: middle;
	line-height: 1;
	speak: none;

	// Improve font-rendering
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


// -------------------------------------------------------------------
// :: ICON NAMES
// -------------------------------------------------------------------

@import "_icon-names";

// icons can also be used as extends to add icons purely through CSS.
//
//	.a-element{
//		@extend %__icon-name;
//	}


// -------------------------------------------------------------------
// :: MODIFIERS
// -------------------------------------------------------------------


.icon--big{
	font-size: 6rem;
}

.icon--primary{
	color: $primary-color;
}
