// -------------------------------------------------------------------
// :: TYPOGRAPHY
// -------------------------------------------------------------------
// - https://github.com/railsware/applepie
// - http://www.google.com/design/spec/style/typography.html
// - http://typecast.com/blog/a-more-modern-scale-for-web-typography
// - http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights
// - http://modularscale.com

// -------------------------------------------------------------------
// :: BASE
// -------------------------------------------------------------------

html {
	font-size: rem(16px);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	color: $font-color;
	font-family: $font-family-body;
	font-size: rem($font-size-medium);
	line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: $font-family-heading;
}


// -------------------------------------------------------------------
// :: NORMALIZE
// -------------------------------------------------------------------
// If a margin/padding is set somewhere, remove it from below
// Keep it DRY and prevent overwrites


h2,
h4,
blockquote {
	font-weight: 100;
}

h1,
h3,
h5,
h6,
strong {
	font-weight: 700;
}

small {
	display: inline-block;
}


// -------------------------------------------------------------------
// :: BLOCK ELEMENTS
// -------------------------------------------------------------------

h1 {
	font-size: rem($font-size-mega);
	line-height: 1.025;
}


h2 {
	font-size: rem($font-size-xlarge);
	font-weight: bold;
	line-height: 1.025;
}

h3 {
	font-size: rem($font-size);
	line-height: 1.45;

	@include FLOW-at($screen-sm){
		font-size: rem($font-size-xlarge);
	}
}

h4 {
	font-size: rem($font-size);
	line-height: 1.45;

	@include FLOW-at($screen-sm){
		font-size: rem($font-size-large);
	}
}

h5 {
	font-size: rem($font-size);
	line-height: 1.55;
}

h6 {
	line-height: 1.55;
	font-size: rem($font-size-small);
	font-weight: 200;
	text-transform: uppercase;
}

p {
	font-size: $font-size;

	[class*="icon"]{
		line-height: 1;

		&:before{
			font-size: 2.5em;
		}
	}
}

h6,
small,
cite {
	font-size: rem($font-size-small);
}


h1,
h2,
h3,
h4,
h5,
h6 {
	&.primary-color{
		color: $primary-color;
	}

	&.secondary-color{
		color: $secondary-color;
	}
}

// -------------------------------------------------------------------
// :: DECORATORS
// -------------------------------------------------------------------

a,
.is-hyperlink {
	color: $primary-color;
	background: transparent;
}

a:hover,
a:active {
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	outline: none;
}

// Highlight text-selection
// And adjust font-color for
// deleted/updated content

mark {
	background: $ui-orange;
}

del {
	color: $font-color-medium;
}

hr {
	border: none;
	border-top: $border-simple;
	box-sizing: content-box;
}

// Blockquote and
// author name (cite)

blockquote {
	font-family: $font-family-body;
	font-weight: 100;
	font-size: rem(26px);
	line-height: 1.25;
}

cite {
	color: $font-color-medium;
	font-family: $font-family-body;
	font-style: normal;
	display: block;
}

cite:before {
	content: '\2014';
}
